<form class="group">
    <tui-input formControlName="titleValue" class="b-form">
        Title
    </tui-input>
    <tui-input formControlName="yearValue" class="b-form">
        Production year
    </tui-input>
    <p class="b-form">
        <tui-select
            formControlName="testValue"
            [tuiTextfieldLabelOutside]="true"
        >
            Choose your hero
            <tui-data-list-wrapper
                *tuiDataList
                [items]="items"
            ></tui-data-list-wrapper>
        </tui-select>
    </p>
</form>
