<tui-root>
    <div class="header tui-container_fullwidth">
        <div class="tui-text_h6">DVD renting</div>
    </div>
    <div class="main tui-container">
        <router-outlet></router-outlet>
    </div>
    <div orientation="vertical" class="group navigation" tuiGroup>
        <button
            appearance="whiteblock"
            routerLink="/main"
            routerLinkActive="active"
            tuiButton
        >
            Search
        </button>
        <button
            appearance="whiteblock"
            routerLink="/add-dvd"
            routerLinkActive="active"
            tuiButton
        >
            Add DVD
        </button>
        <button
            appearance="whiteblock"
            routerLink="/add-client"
            routerLinkActive="active"
            tuiButton
        >
            Add client
        </button>
    </div>
</tui-root>
