<form [formGroup]="searchForm" class="wrapper group">
    <div tuiGroup class="group" [collapsed]="true">
        <tui-input
            [formControlName]="searchFormField.TEXT"
            tuiHintContent="Enter name of DVD or client phone number"
            class="tui-group__auto-width-item search-input"
        >
            Search
        </tui-input>

        <tui-radio-block
            [hideRadio]="true"
            [formControlName]="searchFormField.MODE"
            [item]="searchMode.DVD"
        >
            DVD
        </tui-radio-block>
        <tui-radio-block
            [hideRadio]="true"
            [formControlName]="searchFormField.MODE"
            [item]="searchMode.CLIENT"
        >
            Client
        </tui-radio-block>
        <button
            tuiIconButton
            icon="tuiIconSearchLarge"
            class="tui-group__auto-width-item"
        ></button>
    </div>
</form>
