@import '~@taiga-ui/core/styles/taiga-ui-local';

tui-root {
    background: var(--tui-base-03);
}

.header {
    @include shadow(2);

    position: relative;
    z-index: 2;
    padding: 8px 24px;
    background: var(--tui-base-01);
}

.main {
    background: var(--tui-base-02);
    height: calc(100vh - 80px);
    padding: 20px 40px;
}

.navigation {
    position: absolute;
    left: -10px;
    top: 60px;
}

.active {
    @include shadow(2);
}
