<div class="container">
    <div class="tui-row">
        <div class="tui-col_md-4">
            <tui-island>
                <p class="tui-island__category">Game, 2008</p>
                <h3 class="tui-island__title">Prince of Persia</h3>
                <button
                    tuiButton
                    type="button"
                    appearance="flat"
                    size="m"
                    class="tui-island__footer-button"
                >
                    Rent
                </button>
            </tui-island>
        </div>
        <div class="tui-col_md-4">
            <tui-island>
                <span class="tui-island__category">Animated film, 2002</span>
                <h3 class="tui-island__title">Spirited Away</h3>
                <p class="tui-island__paragraph">Rented 10.12.2021</p>
                <p class="tui-island__paragraph">Bolshakova Anzhela, +79616123939</p>
                <button
                    tuiButton
                    type="button"
                    appearance="flat"
                    size="m"
                    class="tui-island__footer-button"
                >
                    Return
                </button>
            </tui-island>
        </div>
    </div>
</div>
